
.para{
	font-size: 30px;
}

.learnmore{
	background-color: #3C6E57;
    box-shadow: 0 5px 15px 2px rgb(65, 90, 82);
    border: 1px solid #27d8ac;
    border-radius: 2em;
    padding-left: 2em;
    padding-right: 2em;
    color: #fff;
}

.learnmore:hover, .learnmore:focus{
    background-color: #171717;
    box-shadow: 0 5px 15px 2px rgb(65, 90, 82);
    border: 1px solid #27d8ac;
    color: #27d8ac;
}