.anime:hover {
	cursor: pointer;
}
.card-img1{
	background-image: url('./tradingview.png');
	height: 400px;
	background-repeat:no-repeat;
	background-size:100%;
	max-width: 100%;
	filter: grayscale();
    transition: filter 0.4s ease-in-out;

}

.card-img2{
	background-image: url('./chartink.png');
	height: 400px;
	background-repeat:no-repeat;
	background-size:100%;
	max-width: 100%;
	filter: grayscale();
	transition: filter 0.4s ease-in-out;

}

.card-img3{
	background-image: url('./screener.jpg');
	height: 400px;
	background-repeat:no-repeat;
	background-size:100%;
	filter: grayscale();
	transition: filter 0.4s ease-in-out;

}

.card-img4{
	background-image: url('./opstra.png');
	height: 400px;
	background-repeat:no-repeat;
	background-size:100%;
	filter: grayscale();
	transition: filter 0.4s ease-in-out;

}

.card-img5{
	background-image: url('./investopedia.jpg');
	height: 550px;
	background-repeat:no-repeat;
	background-size:100%;
	filter: grayscale();
	transition: filter 0.4s ease-in-out;

}

.card-img6{
	background-image: url('./marketpulse.png');
	height: 550px;
	background-repeat:no-repeat;
	background-size:100%;
	filter: grayscale();
    transition: filter 0.4s ease-in-out;

}

.anime:hover img{
	filter: none;
}